* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  max-width: 100vw;
  min-height: 100vh;
  font-family: sans-serif;
}

header {
  display: none;
}

nav {
  background: #000000;
  height: 80px;
  width: 100vw;
  max-width: 100vw;
  text-align: center;
  align-items: center;
  display: flex;
}

nav > .computer {
  display: none;
}

nav > .mobile {
  background-color: #000000;
  position: absolute;
  top: 80px;
  width: 100vw;
  z-index: 999;
  display: flex;
  flex-direction: column;
}

nav > ul > li {
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}

nav > ul > li:hover {
  transition: opacity 0.5s ease-in-out;
  opacity: 75%;
}

nav > ul > li > a {
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 3px;
  text-transform: uppercase;
}

main {
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  margin-top: 40px;
  min-height: calc(100vh - 180px);
}
.card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 100%;
  transition: all 0.3s ease-out;
  height: 300px;
}
.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
.card > p {
  color: #a3a5ae;
  font-size: 16px;
}
.image {
  max-width: 150px;
  max-height: 150px;
  margin-top: 10px;
}
.image > img {
  object-fit: cover;
  height: 150px;
  width: 100%;
}

.azul {
  border-left: 3px solid #4895ff;
}
.verde {
  border-left: 3px solid #3bb54a;
}
.vermelho {
  border-left: 3px solid #b3404a;
}
.amarelo {
  border-left: 3px solid #f7de59;
}

.anchor_card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  bottom: 0;
  background-color: blue;
  color: #FFF;
  width: 100vw;
  max-width: 100vw;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

svg {
  display: block;
  flexwidth: 60px;
  height: 60px;
  stroke: white;
}
svg:hover {
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
  opacity: 75%;
}

@media (min-width: 640px) {
  main {
    grid-template-columns: repeat(2,250px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    display: grid;
    min-height: calc(100vh - 372px);
  }
  header {
    background: #fff;
    width: 100%;
    height: 192px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .card {
    width: 100%;
  }
  svg {
    display: none!important;
  }
  nav {
    justify-content: center;
  }
  nav > .computer {
    display: block;
  }
  nav > .mobile {
    display: none!important;
  }
}
@media (min-width: 768px) {
  main {
    grid-template-columns: repeat(3,250px);
  }
}
@media (min-width: 1024px) {
  main {
    grid-template-columns: repeat(4,250px);
  }
}
@media (min-width: 1280px) {
  main {
    grid-template-columns: repeat(5,250px);
  }
}
@media (min-width: 1536px) {
  main {
    grid-template-columns: repeat(6,250px);
  }
}